<a href="https://colab.research.google.com/github/chihwu/SEP-769-Deep-Learning/blob/master/SEP_769_DL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import os
import cv2
import random

# Load Data, Format Labels, Split Train/Validation

In [4]:
#import csv with bounding box labels
df = pd.read_csv('data/train_solution_bounding_boxes (1).csv')
df.head()

             image        xmin        ymin        xmax        ymax
0   vid_4_1000.jpg  281.259045  187.035071  327.727931  223.225547
1  vid_4_10000.jpg   15.163531  187.035071  120.329957  236.430180
2  vid_4_10040.jpg  239.192475  176.764800  361.968162  236.430180
3  vid_4_10020.jpg  496.483358  172.363256  630.020261  231.539575
4  vid_4_10060.jpg   16.630970  186.546010  132.558611  238.386422

In [5]:
#import image names as a list
images = os.listdir('data/training_images/')
print(images[0:5])

#create validation set of images
random.seed(4)
n = round(0.2 * len(images))
val = random.sample(images, n)
print('Number of validation images:', n)

['vid_4_1000.jpg', 'vid_4_10000.jpg', 'vid_4_10020.jpg', 'vid_4_10040.jpg', 'vid_4_10060.jpg']
Number of validation images: 200

In [7]:
#convert bounding box to yolo format (x_center, y_center, width, height and normalize 0 - 1)
frame = cv2.imread('data/training_images/' + images[0])
h, w, colour = frame.shape

df['class'] = 0
df['x_center'] = (df['xmin'] +  (df['xmax'] - df['xmin']) / 2 ) / w
df['y_center'] = (df['ymin'] +  (df['ymax'] - df['ymin']) / 2 ) / h
df['width'] = (df['xmax'] - df['xmin']) / w
df['height'] = (df['ymax'] - df['ymin']) / h

df = df.drop(['xmin', 'ymin', 'xmax', 'ymax'], axis = 1)

df.head()

             image  class  x_center  y_center     width    height
0   vid_4_1000.jpg      0  0.450434  0.539817  0.068741  0.095238
1  vid_4_10000.jpg      0  0.100217  0.557191  0.155572  0.129987
2  vid_4_10040.jpg      0  0.444645  0.543678  0.181621  0.157014
3  vid_4_10020.jpg      0  0.833213  0.531451  0.197540  0.155727
4  vid_4_10060.jpg      0  0.110347  0.559122  0.171491  0.136422

In [13]:
df['image']

0       vid_4_1000.jpg
1      vid_4_10000.jpg
2      vid_4_10040.jpg
3      vid_4_10020.jpg
4      vid_4_10060.jpg
            ...
554     vid_4_9860.jpg
555     vid_4_9880.jpg
556     vid_4_9900.jpg
557     vid_4_9960.jpg
558     vid_4_9980.jpg
Name: image, Length: 559, dtype: object

In [23]:
#Save images and labels - one text file per image
for im in images:
  frame = cv2.imread('data/training_images/{}'.format(im))
  df_image = df[df['image'] == im]
  df_image = df_image.drop(['image'], axis = 1)
  df_image.head()
  lbl = im[0:-3] + 'txt'
  #print(lbl)
  
  if im in val:    
    cv2.imwrite('data/yolo/valid/images/{}'.format(im), frame)
    df_image.to_csv('data/yolo/valid/labels/{}'.format(lbl), 
                    header=None, index=None, sep=' ', mode='a')
  else:
    cv2.imwrite('data/yolo/train/images/{}'.format(im), frame)
    df_image.to_csv('data/yolo/train/labels/{}'.format(lbl), 
                    header=None, index=None, sep=' ', mode='a')

In [4]:
#Augment Images

In [5]:
#Train simple model

In [6]:
#Test

In [7]:
#Test with Yolo